*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
__pycache__/
*.apk
*.class
*.zip
/jadx*
/temp*
/decomp*
/dex*
/extract_cs3
/kotlinc*
*.cs3
/inat_v2*
/patch*
/mod*
/fetch*
/find*
/check*
/fix.py
channel_zirve.html
DecryptDomain.java
GetDomain.kts
/manifest.json
